package main

import (
	forge "github.com/sst-go/forge"
	"github.com/sst-go/forge/constructs"
)

func main() {
	forge.Run(&forge.Config{
		App: &forge.AppConfig{
			Name: "{{.Name}}",
			Home: "aws",
		},
		Run: func(ctx *forge.RunContext) error {
			fn := constructs.NewFunction(ctx, "Api", &constructs.FunctionArgs{
				Handler: "bootstrap",
			})

			api := constructs.NewApiGatewayV2(ctx, "Api", nil)
			api.Route("GET /", &constructs.RouteArgs{Function: fn})

			ctx.Export("url", api.URL())
			return nil
		},
	})
}
